- if @status
  %p
    %b Status:
    syntax is correct
    %i.icon-ok.correct-syntax

  %table.table.table-bordered
    %thead
      %tr
        %th Parameter
        %th Value
    %tbody
      - @builds.each do |build|
        %tr
          %td Job - #{build[:name]}
          %td
            %pre
              = simple_format build[:script]
            
            %b Tag list:
            = build[:tags]
            %br
            %b Refs only:
            = build[:only] && build[:only].join(", ")
            %br
            %b Refs except:
            = build[:except] && build[:except].join(", ")

      - @deploy_builds.each do |build|
        %tr
          %td Deploy Job - #{build[:name]}
          %td
            %pre
              = simple_format build[:script]
            
            %b Tag list:
            = build[:tags]
            %br
            %b Refs only:
            = build[:only] && build[:only].join(", ")
            %br
            %b Refs except:
            = build[:except] && build[:except].join(", ")

-else
  %p
    %b Status:
    syntax is incorrect
    %i.icon-remove.incorrect-syntax
  %b Error:
  = @error
          
    